/* This file intentionally left blank. */

.ortala {
  text-align: center;
  color: black;
}

.baslik {
  text-align: center;
  font-size: 16px;
}

.duyuru{
  content: "DUYURU";
  border-radius: 5px;
  background-color: red;
}
.duyuru::after{
  content: "duyuru buraya gelecek hebele hübele falan işte";
}

tr:nth-child(even) {background-color: #f2f2f2}

table{
  border: none;
}

a {
    text-decoration: none;
}
